.navbar-brand img {
    width: 40px;
    display: inline-block !important;
    position: relative;
    top: 5px;
    margin-top: -15px;
}

.carousel-inner img {
    margin: auto;
}

.carousel {
    width: 100%;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .carousel, .carousel img {
        max-height: 229px;
    }
}

@media (min-width: 992px) {
    .carousel, .carousel img {
        max-height: 300px;
    }
}

.content {
    margin: 0 15px;
}