.navbar-brand img {
    width: 40px;
    display: inline-block !important;
    position: relative;
    top: 5px;
    margin-top: -15px;
}

.carousel-inner img {
    margin: auto;
}

.carousel {
    width: 510px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
}

.content {
    margin: 0 15px;
}
