.navbar-brand img {
    width: 40px;
    display: inline-block !important;
    position: relative;
    top: 5px;
    margin-top: -15px;
}

.carousel-inner img {
    margin: auto;
}

.carousel {
    width: 510px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
}

.content {
    margin: 0 15px;
}
.breadcrumb {all:black; border: 0px solid black; border-radius: 0px; display: block;}
.breadcrumb li{font-size: 14px;}
.breadcrumb a:hover{color: black;}
.breadcrumb>.active {color: black;}
.breadcrumb>li+li:before{color: black; content: "\002F\00a0";}